body {
  padding: 0px;
  margin: 0px;
  background-image: url('');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #121111; */
}

ul {
  margin: 0px;
}

#mymenu {
  background-color: #30B4C9;
  color: black;
  text-align: right;
}

#mymenu ul li {
  display: inline-block;
  padding: 20px;
}

#mymenu ul li:hover {
  background: linear-gradient(white, cyan);
}

table {
  margin-top: 100px;
  background-color: #30B4C9;
  box-shadow: 15px 15px 15px cyan;
}

.B {
  background: linear-gradient(white, cyan);
  border-radius: 20px;
  padding: 15px;
}

.B:hover {
  background: linear-gradient(white, cyan);
}

.A {
  border-radius: 20px;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  background-color: #30B4C9;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(white, cyan);
}

.input, .MuiInputBase-root.MuiOutlinedInput-root {
  color: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
  /* border-color: rgba(240, 255, 255, 0.328) !important; */
  color: #fff;
}